.products {
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 1px dotted #ccc;
  cursor: pointer;
  padding: 10px;
  background: #fde195;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  border-radius: 10px;
  margin-right: 190px;
  margin-left: 190px;
}

.actionpane {
  padding-bottom: 10px;
  border-radius: 10px;
}

.botones {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 6px;
}
.editar {
  width: 100px;
  height: 30px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fde195;

  border-radius: 7px;
  border-style: none;
  font-size: 16px;
  box-shadow: 0.3px 0.3px 1.3px rgb(0, 0, 0);
  color: rgb(83, 83, 83);
}
.borrar {
  width: 70px;
  height: 30px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(247, 161, 76);
  border-radius: 7px;
  border-style: none;
  font-size: 17px;
  box-shadow: 0.3px 0.3px 1.3px rgb(0, 0, 0);
  color: white;
}
.buttonNew {
  background: #fcb064;
  border-style: none;
  border-radius: 10px;
  color: white;
}
@media (max-width: 576px) {
  .products {
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px dotted #ccc;
    cursor: pointer;
    padding: 10px;
    background: #fde195;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    font-size: 12px;
    border-radius: 10px;
    margin-right: 0px;
    margin-left: 0px;
  }

  .actionpane {
    padding-bottom: 10px;
    border-radius: 10px;
  }

  .botones {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .editar {
    width: 50px;
    height: 25px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fde195;

    border-radius: 7px;
    border-style: none;
    font-size: 10px;
    box-shadow: 0.3px 0.3px 0.5px rgb(95, 95, 95);
    color: rgb(83, 83, 83);
  }
  .borrar {
    width: 50px;
    height: 25px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(247, 161, 76);
    border-radius: 7px;
    border-style: none;
    font-size: 10px;
    box-shadow: 0.3px 0.3px 1.3px rgb(0, 0, 0);
    color: white;
  }
  .buttonNew {
    background: #fcb064;
    border-style: none;
    border-radius: 10px;
    color: white;
  }
}
