/* BARRA LATERAL */
.closeButton {
  width: 10%;
  height: 1.5rem;
  border-radius: 15%;
  border-style: none;
  background: #fffedd;
  font-size: 0.9rem;
  right: 0.5rem;
  top: 0.5rem;
  cursor: pointer;
  position: absolute;
  padding-bottom: 4px;
  box-shadow: 0.3px 0.3px 0.6px rgb(0, 0, 0);
  color: rgb(22, 22, 22);
  z-index: 1;
}
.auth {
  width: 150px;
  display: flex;
  flex-direction: column;
  margin-top: 35px;
  margin-left: 35px;
}
.signIn {
  width: 120px;
  height: 45px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fde195;
  margin: 7px;
  border-radius: 7px;
  border-style: none;
  font-size: 16px;
  box-shadow: 0.3px 0.3px 1.3px rgb(0, 0, 0);
  color: rgb(83, 83, 83);
}
.signUp {
  width: 120px;
  height: 43px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 7px;
  background: rgb(247, 161, 76);
  border-radius: 7px;
  border-style: none;
  font-size: 17px;
  box-shadow: 0.3px 0.3px 1.3px rgb(0, 0, 0);
  color: white;
}
.admin {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 15px;
}
.admin button {
  margin: 10px;
  width: 50px;
}
.category {
  box-shadow: 0.3px 0.3px 3px rgb(0, 0, 0);
  border-style: none;
  border-radius: 10px;
  background: #ffffff;
  margin: 5px;
  color: rgb(0, 0, 0);
}
.categories {
  display: flex;
  max-width: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 10px;
  box-shadow: 0.3px 0.3px 0.3px rgb(0, 0, 0);
  border-radius: 10px;
}
.filtro {
  margin: 7%;
  font-size: 75%;
  font-weight: 400;
  border-style: none;
  background: #444444;
  padding: 5px;
  border-radius: 7px;
  color: white;
}
.botoncat {
  border-style: none;
  border-radius: 10px;
  background: #ffffff;
  font-size: 60%;
  color: rgb(36, 35, 35);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 400;
}
.boton {
  background: #444444;
  box-shadow: 0.3px 0.3px 0.6px rgb(255, 254, 254);
  border-style: none;
  padding: 7px;
  color: white;
  border-radius: 8px;
  transition: 0.5s;
}
.boton:hover {
  box-shadow: 0.3px 0.3px 1px rgb(44, 44, 44);
}
.userProfile {
  width: 170px;
  height: 180px;
  background: #444444;
  margin: 25px 0 0 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.userName {
  font-size: 20px;
  color: white;
  margin-top: 10px;
}
.userImage {
  width: 130px;
  height: 120px;
  border-radius: 50%;
  margin-top: 5px;
  box-shadow: 0.3px 0.3px 1.5px black;
}