
.sidebar {
  width: 200px;
    position: fixed;
    top: 115px;
    z-index: 1;
    transform: translateX(-200px);
    background: #fdfccb;
    height: 100%;
    transition: all 0.5s;
    box-shadow: 0.3px 2px 1px rgb(83, 83, 83);
  }
  .sidebar.open {
    transform: translateX(0);
  }
  .scrollable-menu {
    max-height: 130px;
    overflow-x: hidden;
    max-width: 70px !important;
  }
  .dropdown {
    background: #3a0353;
    box-shadow: 0.3px 0.3px 1px black;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
  }
  .dropdown-menu {
    max-width: 70px !important;
  }
  .hidden {
    display: none;
  }