
.sidebar {
    position: fixed;
    z-index: 1;
    transform: translateX(-17rem);
    width: 17rem;
    background: #fdfccb;
    height: 100%;
    transition: all 0.5s;
    margin-top: 10%;
    box-shadow: 0.3px 2px 1px rgb(83, 83, 83);
  }
  .sidebar.open {
    transform: translateX(0);
  }
  .scrollable-menu {
    height: auto;
    max-height: 130px;
    width: 187px;
    overflow-x: hidden;
  }
  .dropdown {
    background: #3a0353;
    box-shadow: 0.3px 0.3px 1px black;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
  }